{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>nlutala | Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="padding: 15px 15px;">
  <nav class="navbar" style="border-radius: 1%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #212529;">Nathan Lutala</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <p style="text-align: center; padding-bottom: 20px;">
      I aspire to pursue a career in the technology industry as a software engineer, specialising in Python. Apart from
      the industry revolving around efficient
      algorithm use and problem-solving, it is also centred on learning, which I find enjoyable. Throughout this ongoing
      experience, I have realised that learning is
      not limited to acquiring more knowledge; it also includes finding ways to use your skills and experiences to
      achieve something different. I hope to continue this journey and have more opportunities to grow
      holistically throughout my career.
    </p>
    <div style="background-color: #212529;">
      <div class="row row-cols-1 row-cols-md-2 g-4"
        style="justify-content: center; justify-items: center; align-items: center; text-align: center;">
        <div class="col">
          <div class="card h-100 border-0 card text-bg-dark mb-3">
            <div class="card-body">
              <h1 class="card-title">Skills</h1>
              <hr>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 card text-bg-dark mb-3">
            <div class="card-body">
              <p class="card-text">
              <ul style="text-align: left;">
                <li>Python</li>
                <li>Java</li>
                <li>C#</li>
                <li>SQL (Microsoft SQL Server, T-SQL)</li>
                <li>Git</li>
                <li>AWS Services (AWS Lambda, AWS CodeCommit, AWS CodePipeline)</li>
                <li>Isabelle/HOL</li>
                <li>HTML, CSS and JavaScript (Angular.js)</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4"
      style="justify-content: center; justify-items: center; align-items: center; text-align: center;">
      <div class="col">
        <div class="card h-100 border-0">
          <div class="card-body">
            <h1 class="card-title">Experience</h1>
            <hr>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0">
          <div class="card-body">
            <p class="card-text">
            <h4>Blankfactor (July 2024 - Present)</h4>
            <h6>Engineering Intern (July 2024 - Present)</h6>
            <p>
              Here, I learned about Snowflake and enhanced my ability to use SQL. Learning about Snowflake introduced me
              to data engineering, data warehouses, and datalakes.
            </p>

            <h4>Paperplanes UK (September 2022 - December 2023)</h4>
            <h6>Operations Developer (September 2023 - December 2024)</h6>
            <p>
              While studying Computer Science at university, I was lucky to have
              the chance to work in the digital marketing industry with
              programmatic direct mail. I worked part-time as an Operations
              Developer, where my role was mainly as a mentor, guiding Junior
              Operations Developers on how to set up campaigns and their
              maintenance. As an Operations Developer, I successfully assisted my
              mentees in launching postal marketing campaigns for six clients.
            </p>

            <h6>
              Junior Operations Developer (September 2022 - September 2023)
            </h6>
            <p>
              Before this, I was a Junior Operations Developer in a position
              similar to the intelligent and motivated people I mentored during my
              industrial placement. Here, I:

            <ul style="text-align: left;">
              <li>
                Collaborated with a cross-functional team to conceptualize and
                implement a new campaign type for the company
              </li>
              <li>
                Used and developed my skills in HTML, CSS and JavaScript
                (Angular.js) to contribute to a local template to create direct
                mail marketing templates
              </li>
              <li>
                Enhanced a Shopify API hook using C# to increase customer
                segmentation for approximately 11% of the client base
              </li>
              <li>
                Created an automation tool using Python and collaborated with
                other developers to make use of AWS Services including AWS
                Lambda, AWS CodePipeline and AWS CodeCommit, to streamline the
                management of weekly invoices and increase productivity by 50%
                (decreased a process that was previously 4 hours to 2 hours)
              </li>
              <li>
                Developed an automated email alerting system to assist with
                account reconciliation using T-SQL
              </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: #212529; padding-top: 20px;">
      <div class="row row-cols-1 row-cols-md-2 g-4"
        style="justify-content: center; justify-items: center; align-items: center; text-align: center;">
        <div class="col">
          <div class="card h-100 border-0 card text-bg-dark mb-3">
            <div class="card-body">
              <h1 class="card-title">Education</h1>
              <hr>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 card text-bg-dark mb-3">
            <div class="card-body">
              <p class="card-text">
              <h4>King's College London <br> (September 2020 - June 2024)</h4>
              <p>
                I attended King's College London to obtain a BSc in Computer Science
                with a year in industry. I was also awarded the Associate of King's
                College London (AKC) certification through a course designed for
                students to develop an inquiring mind and learn about topics beyond
                their field of study.
              </p>
              <h4>Queens Park Community School <br> (September 2018 - June 2020)</h4>
              <p>
                After completing my GSCEs, I went to Queens Park Community School (QPCS) and studied Computer Science,
                Mathematics and Psychology at A Level.
              </p>
              <h4>Newman Catholic College <br> (September 2013 - June 2020)</h4>
              <p>
                I studied at Newman Catholic College and obtained 9 GCSEs, including
                English Language, English Literature and Mathematics.
              </p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4"
      style="justify-content: center; justify-items: center; align-items: center; text-align: center;">
      <div class="col">
        <div class="card h-100 border-0">
          <div class="card-body">
            <h1 class="card-title">Achievements</h1>
            <hr>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0">
          <div class="card-body">
            <p class="card-text">
            <h4>
              Internship Experience UK: Technology (June 2024)
            </h4>
            <p>
              I completed the Internship Experience UK (IEUK) Technology programme, a four-day virtual experience hosted
              by Bright Network. Many students and recent graduates like myself had the opportunity to listen to
              professionals in the technology industry working at world-renowned companies with the likes of PwC,
              Deloitte, BT Group, Lloyds Banking Group and more about having and demonstrating leadership skills,
              building transferable skills and a professional brand. Many speakers from these companies shared their
              experiences and discussed the new initiatives under development at their companies. We had a work sample
              to complete the last two days of the programme, which gave us insight into project management.
            </p>
            <p>
              Please find my certificate of completion
              <a href="https://www.brightnetwork.co.uk/certificates/ieuk-2024-technology_gkx81xs17vqgr1/?trk=public_profile_see-credential"
                target="_blank" style="color: #212529;">here</a>.
            </p>
            <h4>
              Harmony Hackathon, Runner-up (June 2024)
            </h4>
            <p>
              I attended my first-ever hackathon with no expectations and managed
              to win runner-up with a great team. This hackathon aimed to look
              into how different aspects of
              <a href="https://harmonydata.ac.uk/" target="_blank" style="color: #212529;">Harmony</a>
              could be improved. What the teams looked into could be an issue from
              the list on the
              <a href="https://github.com/harmonydata/hackathon/blob/main/README.md" target="_blank"
                style="color: #212529;">GitHub
                repository</a> for the competition.
            </p>
            <p>
              My team took on a UX approach in this hackathon, looking for ways to
              tackle how Harmony could potentially compare the similarity between
              three or more questionnaires or surveys (as Harmony was limited to
              two studies at the time).
            </p>
            <p>
              Please find our thought process and design
              <a href="https://github.com/harmonydata/hackathon/blob/main/ux-design-for-better-comprehension.md"
                target="_blank" style="color: #212529;">here</a>.
            </p>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
  </div>
  <div class="container text-center">
    <h1>Try one of my projects out below!</h1>
  </div>
  <div class="overflow-auto" style="padding-top: 20px;">
    <div class="row">
      <div class="col">
        <div class="card h-100">
          <a href="/projects/pdf-merger" style="text-decoration: none; color: #212529;">
            <div class="card-body">
              <h5 class="card-title">PDF Merger (Python)</h5>
              <p class="card-text">Creates one PDF file from the PDF files inputted</p>
              <p class="card-text">Source code on <a href="https://github.com/nlutala" target="_blank"
                  style="color: #212529;">GitHub</a></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="/projects/hangman" style="text-decoration: none; color: #212529;">
            <div class="card-body">
              <h5 class="card-title">Hangman (Python)</h5>
              <p class="card-text">Hangman game which uses the wonderwords to get a word to use in the game</p>
              <p class="card-text">Source code on <a href="https://github.com/nlutala/Hangman" target="_blank"
                  style="color: #212529;">GitHub</a></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="/projects/tic-tac-toe" style="text-decoration: none; color: #212529;">
            <div class="card-body">
              <h5 class="card-title">Tic-tac-toe (Python / Java)</h5>
              <p class="card-text">Commonly known as noughts and crosses</p>
              <p class="card-text">Source code for Python version (uses Machine Learning) on <a
                  href="https://github.com/nlutala/tic-tac-toe-ml" target="_blank" style="color: #212529;">GitHub</a>
                <br>
                Source code for Java version on <a href="https://github.com/nlutala/tic-tac-toe" target="_blank"
                  style="color: #212529;">GitHub</a>
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="/projects/password-generator" style="text-decoration: none; color: #212529;">
            <div class="card-body">
              <h5 class="card-title">Random Password Generator (Python)</h5>
              <p class="card-text">Generates password(s) with constraints specified by you!</p>
              <p class="card-text">Source code on <a href="https://github.com/nlutala/password-generator"
                  target="_blank" style="color: #212529;">GitHub</a></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center" style="padding-top: 20px;">
    <a href="https://github.com/nlutala" target="_blank" style="text-decoration: none; color: #212529;">
      <img class="img-fluid" src="{% static '/github-mark.png' %}" alt="GitHub logo" style="height: 40px; width: 40px;">
    </a>
    <a href="https://www.linkedin.com/in/nathanlutala/" target="_blank" style="text-decoration: none; color: #212529;">
      <img class="img-fluid" src="{% static '/In-Blue-40.png' %}" alt="LinkedIn logo">
    </a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>